<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" style="width: 100px" href="index.html">LogoImg</a> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">語音陪伴</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">心情日記</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">個人心途</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">常見問題</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">訂閱方案</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
